{% extends 'base.html.twig' %}


{% block body %}


<div class="parallax-container">
    <div class="parallax"><img src="https://vertufineart.com/wp-content/uploads/2013/03/Alex-Katz-gray-day-1992.jpg"></div>
</div>


<p>Bonjour {{ contact }}
<div class="section white">
    <div class="row container">
        <div class="container">
            <div class="row row">
                <div class="row">


                    {{ form_start(form, {'action': path('chat_add_message_chat', {'contact': contact, 'userconnected': userconnected}), 'method': 'GET'}) }}

                    <div class="input-field col s6">
                        {{ form_label (form.content) }}
                        {{ form_widget (form.content) }}
                        {{ form_errors (form.content) }}
                    </div>
                </div>
                <div class="row">
                    <div>
                        {#{{ form_widget(form.submit, {'attr' : {'class': 'btn btn-primary'}}) }}#}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    {% for message in messages %}
        <div class="row">
            <div class="col s12 m5">
                <div class="card-panel teal">
                    <span class="white-text"> {{ message.dateTime|date('m/d/Y') }} </span><br/>

                    {% if  message.user is null %}
                    {% else %}
                        <span class="white-text"> {{ message.user.username }} </span><br/>
                    {% endif %}

                    <span class="white-text"> {{ message.content }} </span>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
    <div class="parallax-container">
        <div class="parallax"><img src="http://alexkatz.guggenheim-bilbao.eus/img/Alex-Katz-2012-White-Roses-9-Zoom.jpg"></div>
    </div>





{% endblock %}
